<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipos</title>
    <link rel="stylesheet" href="../css/style.css">
    
</head>
<body>
    <!--Header-->
    <header>
        <div>
            <h1>Noticias Sobre El Fútbol Argentino</h1>
        </div>
    </header>
        <!--Nav-->
    <nav class="navbar">
        <a href="../../index.html" class="image"><img src="../img/argentina (1).png" alt=""></a>
        <a href="posiciones.html">Posiciones</a>
        <a href="registro.html">Registros</a>
        <a href="noticiasnacional.html">Noticias Nacional</a>
        <a href="noticiasinternacional.html">Noticias Internacional</a>
        <a href="../../index.html">Inicio</a>
    </nav>
        <!--Principal-->
    <div class="principal">
        <aside>
            <h2 class="asidetitle">Tabla Histórica de Títulos</h2>
                <a href="" class="image"><img src="../img/tabla-de-titulos.png" alt=""></a>
        </aside>
        <main>
            <h1>Los equipos del Futbol Argentino:</h1>
            <article>
                <h2>Estadio de Boca Juniors: Alberto J. Armando (La Bombonera)</h2>
                <img src="../img/cancha-de-boca.jpeg" alt="">
                <p>Precio de las Entradas:</p>
                <p>Popular Socio: $10.500 ARS</p>
                <p>Popular No Socio: $15.750 ARS</p>
                <p>Platea Gasparini Socio: $18.900 ARS</p>
                <p>Platea Gasparini No Socio: $23.100 ARS</p>
                <p>Platea Ardiles Socio: $31.500 ARS</p>
                <p>Platea Ardiles No Socio: $42.000 ARS</p>
            </article>
            <article>
                <h2>Estadio de River Plate: Antonio V. Liberti (El Más Monumental)</h2>
                <img src="../img/cancha-de-river.jpg" alt="">
                <p>Precio de las Entradas:</p>
                <p>Populares Socios: $8.400 ARS</p>
                <p>Populares No Socios: $11.550 ARS</p>
                <p>Platea Socios: $13.650 ARS</p>
                <p>Platea No Socios: $16.800 ARS</p>
            </article>
            <article>
                <h2>Estadio de Independiente de Avellaneda: Ricardo Enrique Bochini (Libertadores de América)</h2>
                <img src="../img/cancha-independiente.jpg" alt="">
                <p>Precio de las Entradas:</p>
                <p>Populares Santoro y Pavoni Baja: $9.800</p>
                <p>Populares Santoro y Pavoni Alta: $12.600</p>
                <p>Plateas Bochini/Erico Alta: $17.500</p>
                <p>Platea Erico Baja: $22.100</p>
                <p>Platea Bochini Baja: $24.500</p>
                <p>Gargantas: $24.500</p>
                <p>Palco oficial: $154.000</p>
            </article>
            <article>
                <h2>Estadio de Racing de Avellaneda: Presidente Perón (El Cilindro)</h2>
                <img src="../img/cancha-racing.jpg" alt="">
                <p>Precio de las Entradas:</p>
                <p>Platea E (Puerta 11): $9.720 ARS (socio), $4.680 ARS (socio menor), $27.000 ARS (invitado), $13.500 ARS (invitado menor)</p>
                <p>Platea D (Puerta 3): $13.680 ARS (socio), $7.200 ARS (socio menor), $39.600 ARS (invitado), $19.800 ARS (invitado menor)</p>
                <p>Platea C (Puerta 18): $11.700 ARS (socio), $6.480 ARS (socio menor), $34.200 ARS (invitado), $16.200 ARS (invitado menor)</p>
                <p>Platea B (Puerta 17): $18.900 ARS (socio), $11.700 ARS (socio menor), $55.800 ARS (invitado), $27.000 ARS (invitado menor)</p>
                <p>Platea A Lateral (Puerta 1): $22.320 ARS (socio), $12.960 ARS (socio menor), $63.000 ARS (invitado), $30.600 ARS (invitado menor)</p>
                <p>Platea A (Puerta 33): $25.200 ARS (socio), $14.400 ARS (socio menor), $72.000 ARS (invitado), $34.200 ARS (invitado menor).</p>
            </article>
            <article>
                <h2>Estadio de San Lorenzo: Pedro Bidegain (El Nuevo Gasómetro)</h2>
                <img src="../img/cancha-sanlorenzo.jpeg" alt="">
                <p>Precio de las Eentradas:</p>
                <p>Popular: $16.000 ARS</p>
                <p>Platea: $25.000 ARS</p>
                <p>Menores: $12.000 ARS</p>
            </article>
            <article>
                <h2>Estadio de Estudiantes De La Plata: Jorge Luis Hirschi (Uno)</h2>
                <img src="../img/cancha-estudiantes.jpg" alt="">
                <p>Precio de las Entradas:</p>
                <p>Popular Socio: $15.750</p>
                <p>Popular No Socio: $31.500</p>
                <p>Platea Socio: $31.500</p>
                <p>Platea No Socio: $47.250</p>
            </article>
            <article>
                <h2>Estadio de Veléz: José Amalfitani (El Fortín)</h2>
                <img src="../img/cancha-velez.jpg" alt="">
                <p>Precio de las Entradas:</p>
                <p>Popular Socio: $10.500</p>
                <p>Popular No Socio: $15.750</p>
                <p>Platea Socio: $15.750</p>
                <p>Platea No Socio: $23.100</p>
            </article>
            <article>
                <h2>Estadio de Huracán: Adolfo Ducó (El Palacio)</h2>
                <img src="../img/cancha-huracan.jpeg" alt="">
                <p>Precio de las Entradas:</p>
                <p>Popular Bonavena: $8.000</p>
                <p>Platea Masantonio Alta: $12.000</p>
                <p>Platea Masantonio Baja: $16.000</p>
                <p>Menores de 12 años: $2.000</p>
                <p>Jubilados y Damas: $4.000</p>
            </article>
            <article>
                <h2>Estadio de Rosario Central: El Gigante de Arroyito</h2>
                <img src="../img/cancha-rosario.jpg" alt="">
                <p>Precio de las Entradas:</p>
                <p>Popular Socio: $8.400</p>
                <p>Popular No Socio: $11.550</p>
                <p>Platea Socio: $13.650</p>
                <p>Platea No Socio: $16.800</p>
            </article>
            <article>
                <h2>Estadio de Newell's Old Boys: Marcelo Bielsa (El Coloso Del Parque)</h2>
                <img src="../img/cancha-newells.jpg" alt="">
                <p>Precio de las Entradas:</p>
                <p>Popular: $12.000</p>
                <p>Platea: $18.000</p>
                <p>Menores: $8.000</p>
            </article>
            <article>
                <h2>Estadio de Lanus: Néstor Díaz Pérez (La Fortaleza)</h2>
                <img src="../img/cancha-lanus.jpg" alt="">
                <p>Precio de la Entradas:</p>
                <p>Popular: $12.000</p>
                <p>Platea: $18.000</p>
            </article>
            <article>
                <h2>Estadio de Argentino Juniors: Diego Armando Maradona (El Semillero Del Mundo)</h2>
                <img src="../img/cancha-argentinosjr.jpg" alt="">
                <p>Precio de las Entradas:</p>
                <p>Popular: $15.000</p>
                <p>Jubilados, Pensionados y Damas: $7.500</p>
                <p>Menores: $4.100</p>
            </article>
            <article>
                <h2>Estadio de Banfield: Florencio Sola </h2>
                <img src="../img/cancha-banfield.webp" alt="">
                <p>Precio de las Entradas:</p>
                <p>Popular Socio: $8.400</p>
                <p>Popular No Socio: $11.550</p>
                <p>Platea Socio: $12.600</p>
                <p>Platea No Socio: $15.750</p>
            </article>
            <article>
                <h2>Estadio de Gimnasia y Esgrima La Plata: Juan Carmelo Zerillo (El Bosque)</h2>
                <img src="../img/cancha-gimnasia.jpg" alt="">
                <p>Precio de las Entradas:</p>
                <p>Popular: $12.700</p>
                <p>Jubilados, Pensionados y Damas: $7.650</p>
                <p>Menores: $5.200</p>
            </article>
            <article>
                <h2>Estadio de Tigre: José Dellagiovanna (Coliseo De Victoria)</h2>
                <img src="../img/cancha-tigres.jpg" alt="">
                <p>Precio de las Entradas:</p>
                <p>Popular Socio: $10.500</p>
                <p>Popular No Socio: $15.750</p>
                <p>Platea Socio: $15.750</p>
                <p>Platea No Socio: $23.100</p>
            </article>
            <article>
                <h2>Estadio de Talleres De Córdoba: Francisco Cabasés (La Boutique)</h2>
                <img src="../img/cancha-talleres.jpg" alt="">
                <p>Precio de las Entradas:</p>
                <p>Popular: $12.000</p>
                <p>Platea: $18.000</p>
            </article>
            <article>
                <h2>Estadio de Unión De Santa Fe: 15 De Abril</h2>
                <img src="../img/cancha-union.jpg" alt="">
                <p>Precio de las Entradas:</p>
                <p>Popular No Socio: $25.000</p>
                <p>Platea Redonda No Socio: $42.000</p>
                <p>Platea Alta No Socio: $48.500</p>
                <p>Bono “Día del Club” (adicional): $10.000</p>
            </article>
            <article>
                <h2>Estadio de Atlético Tucumán: Monumental José Fierro</h2>
                <img src="../img/cancha-tucuman.jpg" alt="">
                <p>Precio de las Entradas:</p>
                <p>Popular: $12.000</p>
                <p>Platea: $18.000</p>
            </article>
            <article>
                <h2>Estadio de Instituto Atlético Central Córdoba: Juan Domingo Perón (El Monumental De Alta Córdoba)</h2>
                <img src="../img/cancha-instituto.jpeg" alt="">
                <p>Precio de las Entradas:</p>
                <p>Popular: $12.000</p>
                <p>Platea: $18.000</p>
            </article>
            <article>
                <h2>Estadio de Belgrano: Julio César Villagra (El Gigante de Alberdi)</h2>
                <img src="../img/cancha-belgrano.avif" alt="">
                <p>Precio de las Entradas:</p>
                <p>Popular Socio: $8.400</p>
                <p>Popular No Socio: $11.550</p>
                <p>Platea Socio: $13.650</p>
                <p>Platea No Socio: $16.800</p>
            </article>
            <article>
                <h2>Estadio de Independiente Rivadavia: Bautista Gargantini (Azul Del Parque)</h2>
                <img src="../img/cancha-rivadavia.jpg" alt="">
                <p>Precio de las Entradas:</p>
                <p>Popular: $8.000</p>
                <p>Platea descubierta: $14.000</p>
                <p>Platea cubierta: $16.000</p>
            </article>
            <article>
                <h2>Estadio de Deportivo Riestra: Guillermo Laza</h2>
                <img src="../img/cancha-riestra.jpg.crdownload" alt="">
                <p>Precios de las Entradas:</p>
                <p>Menores: $12.000</p>
                <p>Popular: $16.000</p>
                <p>Platea: $25.000</p>
            </article>
            <article>
                <h2>Estadio de Platense: Vicente López </h2>
                <img src="../img/cancha-platense.jpg" alt="">
                <p>Precio de las Entradas:</p>
                <p>Generales: $15.000</p>
                <p>Jubilados/Pensionados: $7.500</p>
                <p>Menores: $4.100</p>
            </article>
            <article>
                <h2>Estadio de Sarmiento De Junin: Eva Perón (El Cemento)</h2>
                <img src="../img/cancha-sarmiento.jpg" alt="">
                <p>Precio de las Entradas:</p>
                <p>Popular: $12.000 ARS</p>
                <p>Platea Descubierta: $15.000 ARS</p>
                <p>Platea Cubierta: $20.000 ARS</p>
                <p>Damas, Jubilados y Pensionados: $8.000 ARS</p>
                <p>Menores: $7.000 ARS</p>
            </article>
            <article>
                <h2>Estadio de Godoy Cruz: Feliciano Gambarte (La Bodega)</h2>
                <img src="../img/cancha-godoy.jpg" alt="">
                <p>Precio de las Entradas:</p>
                <p>Popular Socios: $8.400 ARS</p>
                <p>Popular No Socios: $11.550 ARS</p>
                <p>Platea Descubierta Socios: $12.600 ARS</p>
                <p>Platea Descubierta No Socios: $15.750 ARS</p>
            </article>
            <article>
                <h2>Estadio de Barracas Central: Claudio Chiqui Tapia</h2>
                <img src="../img/cancha-barracas.png" alt="">
                <p>Precio de las Entradas:</p>
                <p>Popular: $12.000 ARS</p>
                <p>Platea: $18.000 ARS</p>
            </article>
            <article>
                <h2>Estadio de Central Córdoba (SE): Alfredo Terrera</h2>
                <img src="../img/cancha-central-cordoba.jpg" alt="">
                <p>Precio de las Entradas:</p>
                <p>Popular: $15.000 ARS</p>
                <p>Platea Oeste Baja: $3.500 ARS (socios mayores), $1.500 ARS (socios menores)</p>
                <p>Platea Oeste Alta: $3.000 ARS (socios mayores), $1.400 ARS (socios menores)</p>
            </article>
            <article>
                <h2>Estadio de Defensa Y Justicia: Norberto Tito Tomaghello</h2>
                <img src="../img/cancha-defensa.jpg" alt="">
                <p>Precio de las Entradas:</p>
                <p>Popular: $10.000 ARS</p>
                <p>Platea Este: $15.000 ARS</p>
                <p>Platea Oeste: $15.000 ARS</p>
            </article>
        </main>
    </div>
    <!--Footer-->
    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#">
                    <img src="../img/argentina (1).png" alt="">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>SOBRE NOSOTROS</h2>
                <p>Potrero Digital</p>
                <p>San Miguel</p>
            </div>
            <div class="box">
                <h2>SIGUENOS</h2>
                <div class="red-social">
                    <a href="#"><img src="../img/facebook.png" alt=""></a>
                    <a href="#"><img src="../img/logotipo-de-instagram.png" alt=""></a>
                    <a href="#"><img src="../img/medios-de-comunicacion-social.png" alt=""></a>
                    <a href="#"><img src="../img/youtube.png" alt=""></a>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2024 <b>Futbol Argentino</b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>
</body>
</html>