<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticias Nacional</title>
    <link rel="stylesheet" href="../css/style.css">
    
</head>
<body>
    <!--Header-->
    <header>
        <div>
            <h1>Noticias Sobre El Fútbol Argentino</h1>
        </div>
    </header>
        <!--Nav-->
    <nav class="navbar">
        <a href="../../index.html" class="image"><img src="../img/argentina (1).png" alt=""></a>
        <a href="posiciones.html">Posiciones</a>
        <a href="registro.html">Registros</a>
        <a href="../../index.html">Inicio</a>
        <a href="noticiasinternacional.html">Noticias Internacional</a>
        <a href="equipos.html">Equipos</a>
    </nav>
        <!--Principal-->
    <div class="principal">
        <aside>
            <h2 class="asidetitle">Goleadores de la Liga</h2>
            <a href="" class="image"><img src="../img/tabla-de-goleadores.png" alt=""></a>
            <h2 class="asidetitle">Donde ver los partidos de la Liga:</h2>
            <a href="" class="image"><img src="../img/tnt-sports-logo-.png" alt=""></a>
            <a href="" class="image"><img src="../img/espn-premium.webp" alt=""></a>
            <a href="" class="image"><img src="../img/espn-hd.jpeg" alt=""></a>
            <h2 class="asidetitle">Donde ver los partidos de la Copa Argentina:</h2>
            <a href="" class="image"><img src="../img/tyc-sports.png" alt=""></a>
        </aside>
        <main>
            <h1>Noticias del Futbol Argentino</h1>
            <article>
                <h2>Volvio Marcelo Gallardo a River!! (05/08/2024)</h2>
                <img src="../img/volvio.jpg" alt="">
                <p>Este lunes no fue un día más en River porque Marcelo Gallardo, el técnico más ganador en la historia del club, volvió a ponerse el buzo de entrenador un año y medio después de su salida. La jornada resultó movilizante para todo el pueblo riverplatense por lo que se vio en la transmisión de la conferencia, pero también por lo que sucedió detrás del telón.</p>
                <p class="link"><a href="https://www.tycsports.com/river-plate/el-dia-g-lo-que-no-se-vio-del-dia-que-gallardo-volvio-a-river-id600258.html" target="_blank">Ver más</a></p>
            </article>
            <article>
                <h2>Las llaves de la Copa Argentina (6/8/2024)</h2>
                <img src="../img/eliminacion-copa-argentina.jpg" alt="">
            </article>
            <article>
                <h2>El golazo de Bou,¿Es el gol de la fecha o del campeonato?</h2>
                <video src="../videos/bou.mp4" controls autoplay muted></video>
            </article>
            <article>
                <h2>Boca vendió a Equi Fernández a Arabia Saudita (04/08/2024)</h2>
                <img src="../img/vendido.webp" alt="">
                <p>Ezequiel Fernández ejecutó la cláusula de rescisión de 20 millones de dólares y dejó de ser jugador de Boca. Ahora sí, la información que circulaba desde hace días terminó de confirmarse este domingo 4 de agosto, cuando Al Qadisiya de Arabia Saudita depositó la millonaria suma para hacerse de los servicios del talentoso volante de 22 años que recientemente participó de los Juegos Olímpicos de París 2024.</p>
                <p class="link"><a href="https://www.tycsports.com/boca-juniors/equi-fernandez-boca-clausula-de-rescision-al-qadisiya-id600044.html" target="_blank">Ver más</a></p>
            </article>
            <article>
                <h2>Otro paso adelante de Huracán pese al empate con Racing (05/08/2024)</h2>
                <img src="../img/huracan.jpeg" alt="">
                <p>Solo le faltó contundencia en un gran partido. Extendió su racha, continúa como líder del torneo y buscará arruinarle la fiesta a River y Gallardo.</p>
                <p class="link"><a href="https://www.tycsports.com/liga-profesional-de-futbol/otro-paso-adelante-de-huracan-pese-al-empate-con-racing-id600262.html" target="_blank">Ver más</a></p>
            </article>
            <article>
                <h2>Omar De Felippe ¿y más refuerzos para Central Córdoba (SE)?: “Si no podemos mejorar con los que están, hay que traer a otros” (06/08/2024)</h2>
                <img src="../img/se.webp" alt="">
                <p>Otra derrota contra un rival directo por la permanencia. Esta vez contra Riestra por 1-0. En una fecha donde ganando, por la derrota de Tigre, salía de la zona de descenso directo.</p>
                <p class="link"><a href="https://www.tycsports.com/liga-profesional-de-futbol/omar-de-felippe-si-no-podemos-corregir-errores-con-los-que-estan-hay-que-traer-otros-id600335.html" target="_blank">Ver más</a></p>
            </article>
            <article>
                <h2>Pezzella a River: el primer campeón del mundo que vuelve al fútbol argentino (02/08/2024)</h2>
                <img src="../img/pezzella.jpg" alt="">
                <p>El defensor está a una firma de regresar a Núñez, donde compartiría plantel con Armani, otro que ganó todo con la Selección.
                </p>
                <p class="link"><a href="https://www.ole.com.ar/river-plate/pezzella-river-primer-campeon-mundo-qatar-vuelve-futbol-argentino_0_w6PCKcaB0a.html" target="_blank">Ver más</a></p>
            </article>
        </main>
    </div>
    <!--Footer-->
    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#">
                    <img src="../img/argentina (1).png" alt="">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>SOBRE NOSOTROS</h2>
                <p>Potrero Digital</p>
                <p>San Miguel</p>
            </div>
            <div class="box">
                <h2>SIGUENOS</h2>
                <div class="red-social">
                    <a href="#"><img src="../img/facebook.png" alt=""></a>
                    <a href="#"><img src="../img/logotipo-de-instagram.png" alt=""></a>
                    <a href="#"><img src="../img/medios-de-comunicacion-social.png" alt=""></a>
                    <a href="#"><img src="../img/youtube.png" alt=""></a>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2024 <b>Futbol Argentino</b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>
</body>
</html>