<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticias Internacional</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <!--Header-->
    <header>
        <div>
            <h1>Noticias Sobre El Fútbol Argentino</h1>
        </div>
    </header>
        <!--Nav-->
    <nav class="navbar">
        <a href="../../index.html" class="image"><img src="../img/argentina (1).png" alt=""></a>
        <a href="posiciones.html">Posiciones</a>
        <a href="registro.html">Registros</a>
        <a href="noticiasnacional.html">Noticias Nacional</a>
        <a href="../../index.html">Inicio</a>
        <a href="equipos.html">Equipos</a>
    </nav>
        <!--Principal-->
    <div class="principal">
        <aside>
            <h2 class="asidetitle">Goleadores de la Copa Libertadores:</h2>
            <a href="" class="image"><img src="../img/goleadores-libertadores.png" alt=""></a>
            <h2 class="asidetitle">Goleadores de la Copa Sudamericana</h2>
            <a href="" class="image"><img src="../img/goleadores-sudamericana.png" alt=""></a>
            <h2 class="asidetitle">Donde ver los partidos de Copa:</h2>
            <a href="" class="image"><img src="../img/espn-hd.jpeg" alt=""></a>
            <a href="" class="image"><img src="../img/espn2.png" alt=""></a>
            <a href="" class="image"><img src="../img/espn3.png" alt=""></a>
            <a href="" class="image"><img src="../img/fox.png" alt=""></a>
            <a href="" class="image"><img src="../img/fox2.jpeg" alt=""></a>
            <a href="" class="image"><img src="../img/fox3.webp" alt=""></a>
            <a href="" class="image"><img src="../img/directv.png" alt="">
            <a href="" class="image"><img src="../img/telefe.jpg" alt=""></a>
        </aside>
        <main>
            <h1>Noticias de los Clubes Argentinos que participan en copas internacionales</h1>
            <article>
                <div id="carouselExampleIndicators" class="carousel slide">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="../img/libertadores.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="../img/liber-sud.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="../img/sudamericana.jpg" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </article>
            <article>
                <h2>Las llaves de la Copa Libertadores:</h2>
                <img src="../img/octavos-libertadores.png" alt="">
            </article>
            <article>
                <h2>Cuándo juega San Lorenzo vs. Atlético Mineiro, por los octavos de final de la Copa Libertadores (03/06/2024)</h2>
                <img src="../img/nuevo-gasometro.webp" alt="">
                <p>San Lorenzo jugará vs. Atlético Mineiro en los octavos de final de la Copa Libertadores 2024. Después de la Copa América, el Ciclón -que pasó como segundo del Grupo F- enfrentará al equipo de Gabriel Milito -primero del Grupo G- en busca de meterse entre los ocho mejores del continente.</p>
                <p class="link"><a href="https://www.tycsports.com/san-lorenzo/cuando-juega-san-lorenzo-por-los-octavos-de-final-de-la-copa-libertadores-id588336.html" target="_blank">Ver más</a></p>
            </article>
            <article>
                <h2>River y Talleres jugarán con visitantes por la Copa Libertadores (05/08/2024)</h2>
                <img src="../img/river-vs-talleres.jpg" alt="">
                <p>River y Talleres de Córdoba finalmente jugarán la llave de octavos de la Copa Libertadores con la presencia de hinchas visitantes, tanto en la ida en el Mario Alberto Kempes como en la revancha que se disputará en el Monumental.</p>
                <p class="link"><a href="https://www.tycsports.com/river-plate/river-y-talleres-jugaran-con-visitantes-por-la-libertadores-que-se-sabe-de-las-entradas-id600264.html" target="_blank">Ver más</a></p>
            </article>
            <article>
                <h2>Las llaves de la Copa Sudamericana</h2>
                <img src="../img/octavos-sudame.webp" alt="">
            </article>
            <article>
                <h2>Rosario Central vs. Fortaleza, en octavos de final de Copa Sudamericana: día, horario y cómo se define la serie</h2>
                <img src="../img/rosario.jpg" alt="">
                <p>El conjunto argentino venció a Internacional de Porto Alegre y enfrentará a otro conjunto brasilero en la próxima instancia del certamen continental.</p>
                <p class="link"><a href="https://www.directvsports.com/futbol/Rosario-Central-vs.-Fortaleza-en-octavos-de-final-de-Copa-Sudamericana-dia-horario-y-como-se-define-la-serie-20240723-0059.html" target="_blank">Ver más</a></p>
            </article>
            <article>
                <h2>Confirmaron fecha y hora para Belgrano vs Atlético Paranaense en la Copa Sudamericana (26/07/2024)</h2>
                <img src="../img/belgrano.avif" alt="">
                <p>Belgrano tiene todo definido para el próximo compromiso en la Copa Sudamericana. Después de conocer que Atlético Paranaense será el rival, ahora se confirmaron las fechas y horario de los choques.</p>
                <p class="link"><a href="https://eldoce.tv/deportes/2024/07/26/confirmaron-fechas-y-hora-para-belgrano-vs-atletico-paranaense-en-la-copa-sudamericana/" target="_blank">Ver más</a></p>
            </article>
            <article>
                <h2>Racing vs. Huachipato: Cuándo juegan por los octavos de final de la Sudamericana 2024 (26/07/2024)</h2>
                <img src="../img/racing.jpg" alt="">
                <p>Después de ser uno de los mejores equipos de la fase de grupos, Racing retoma su paso en la Sudamericana 2024. Su rival en octavos de final será Huachipato, quien superó la instancia de Playoff para verse las caras con la Academia de Gustavo Costas.</p>
                <p class="link"><a href="https://www.sportingnews.com/ar/futbol/news/racing-huachipato-cuando-juegan-octavos-final-sudamericana-2024/40c01567ecc269018b40d552" target="_blank">Ver más</a></p>
            </article>
            <article>
                <h2>Un cruce picante: la larga historia entre Boca y Cruzeiro</h2>
                <img src="../img/boca.png" alt="">
                <p>El Xeneize volverá a enfrentarse a los brasileños en los octavos de la Sudamericana.</p>
                <p class="link"><a href="https://www.ole.com.ar/boca-juniors/historial-boca-cruzeiro-copa-sudamericana-octavos-final_0_Vwh4z6sbJc.html" target="_blank">Ver más</a></p>
            </article>
            <article>
                <h2>Lanús vs. Liga de Quito, en octavos de final de la Copa Sudamericana (25/07/2024)</h2>
                <img src="../img/lanus.webp" alt="">
                <p>Lanús y Liga de Quito se enfrentarán en uno de los manos a manos más parejos de los octavos de final de la Copa Sudamericana, Justamente entre dos excampeones del certamen.</p>
                <p class="link"><a href="https://www.directvsports.com/futbol/Lanus-vs.-Liga-de-Quito-en-octavos-de-final-de-la-Copa-Sudamericana-horario-dia-y-como-se-define-la-serie-20240725-0078.html" target="_blank">Ver más</a></p>
            </article>
        </main>
    </div>
    <!--Footer-->
    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#">
                    <img src="../img/argentina (1).png" alt="">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>SOBRE NOSOTROS</h2>
                <p>Potrero Digital</p>
                <p>San Miguel</p>
            </div>
            <div class="box">
                <h2>SIGUENOS</h2>
                <div class="red-social">
                    <a href="#"><img src="../img/facebook.png" alt=""></a>
                    <a href="#"><img src="../img/logotipo-de-instagram.png" alt=""></a>
                    <a href="#"><img src="../img/medios-de-comunicacion-social.png" alt=""></a>
                    <a href="#"><img src="../img/youtube.png" alt=""></a>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2024 <b>Futbol Argentino</b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>