<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posiciones/Promedios/Tabla Anual</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <!--Header-->
    <header>
        <div>
            <h1>Noticias Sobre El Fútbol Argentino</h1>
        </div>
    </header>
        <!--Nav-->
    <nav class="navbar">
        <a href="../../index.html" class="image"><img src="../img/argentina (1).png" alt=""></a>
        <a href="../../index.html">Inicio</a>
        <a href="registro.html">Registros</a>
        <a href="noticiasnacional.html">Noticias Nacional</a>
        <a href="noticiasinternacional.html">Noticias Internacional</a>
        <a href="equipos.html">Equipos</a>
    </nav>
        <!--Principal-->
    <div class="principal">
        <aside>
            <h2 class="asidetitle">Goleadores de la Liga</h2>
            <a href="" class="image"><img src="../img/tabla-de-goleadores.png" alt=""></a>
            <h2 class="asidetitle">Asistidores de la Liga</h2>
            <a href="" class="image"><img src="../img/tnt-sports-logo-.png" alt=""></a>
            <a href="" class="image"><img src="../img/espn-premium.webp" alt=""></a>
            <a href="" class="image"><img src="../img/espn-hd.jpeg" alt=""></a>
            <h2 class="asidetitle">Donde ver los partidos de la Copa Argentina:</h2>
            <a href="" class="image"><img src="../img/tyc-sports.png" alt=""></a>
        </aside>
        <main>
            <article>
                <h2>Tabla de Posiciones</h2>
                <img src="../img/tablita_pos.jpeg" alt="">
                <img src="../img/tablita_pos2.jpeg.jpg" alt="">
                <p class="campeon">-El campeón clasifica a la Copa Libertadores.</p>
                <p class="descontaron">-*Se le descontaron 3 puntos a Godoy Cruz por incidentes en Fecha 3</p>
            </article>
            <article>
                <h2>Tabla Anual 2024</h2>
                <img src="../img/tabla-anual.png" alt="">
                <img src="../img/tabla-anual2.png.jpg" alt="">
                <p class="campeon">-Clasifican de forma directa a la Copa Libertadores: Campeón Copa de la Liga (Estudiantes) + Campeón Liga + Campeón Copa Argentina.</p>
                <p class="libertadores">-Puestos de clasificación a Libertadores por Tabla Anual.</p>
                <p class="sudamericana">-Puestos de clasificación a Sudamericana por Tabla Anual.</p>
                <p class="desciende">-El último de la Tabla Anual desciende a la Primera Nacional. Si ya desciende por promedios, lo hace el siguiente equipo de la tabla.</p>
                <p class="descontaron">-*Se le descontaron 3 puntos a Godoy Cruz por incidentes en Fecha 3</p>
            </article>
            <article>
                <h2>Tabla de Promedios</h2>
                <img src="../img/tabla-de-promedios.png" alt="">
                <img src="../img/tabla-de-promedios2.png.jpg" alt="">
                <p class="desciende">-El último en promedios desciende a la Primera Nacional. También desciende el último de la Tabla Anual.</p>
            </article>
        </main>
    </div>
    <!--Footer-->
    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#">
                    <img src="../img/argentina (1).png" alt="">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>SOBRE NOSOTROS</h2>
                <p>Potrero Digital</p>
                <p>San Miguel</p>
            </div>
            <div class="box">
                <h2>SIGUENOS</h2>
                <div class="red-social">
                    <a href="#"><img src="../img/facebook.png" alt=""></a>
                    <a href="#"><img src="../img/logotipo-de-instagram.png" alt=""></a>
                    <a href="#"><img src="../img/medios-de-comunicacion-social.png" alt=""></a>
                    <a href="#"><img src="../img/youtube.png" alt=""></a>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2024 <b>Futbol Argentino</b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>
</body>
</html>