<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registros</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <!--Header-->
    <header>
        <div>
            <h1>Noticias Sobre El Fútbol Argentino</h1>
        </div>
    </header>
        <!--Nav-->
    <nav class="navbar">
        <a href="../../index.html" class="image"><img src="../img/argentina (1).png" alt=""></a>
        <a href="posiciones.html">Posiciones</a>
        <a href="../../index.html">Inicio</a>
        <a href="noticiasnacional.html">Noticias Nacional</a>
        <a href="noticiasinternacional.html">Noticias Internacional</a>
        <a href="equipos.html">Equipos</a>
    </nav>
        <!--Principal-->
    <div class="principal">
        <aside>
            <a href="" class="image1"><img src="../img/escudo_liga_argentina.jpeg" alt=""></a>
        </aside>
        <main>
            <article>
                <form method="post" action="">
                    <fieldset>
                        <legend>Formulario de Registro</legend>
                        <label for="nombre">Nombre</label>
                        <input type="text" id="nombre">
                        <label for="apellido">Apellido</label>
                        <input type="text" id="apellido">
                        <label for="mail">Correo Electrónico</label>
                        <input type="email" id="mail">
                        <label for="dni">DNI</label>
                        <input type="number" id="dni">
                        <label for="edad">Fecha de Nacimiento</label>
                        <input type="date" id="edad">
                        <label for="equipo">De que equipo sos?</label>
                        <select name="equipo">
                            <option value="1">Boca Juniors</option>
                            <option value="2">River Plate</option>
                            <option value="3">Independiente</option>
                            <option value="4">Racing</option>
                            <option value="5">San Lorenzo</option>
                            <option value="6">Estudiantes</option>
                            <option value="7">Velez</option>
                            <option value="8">Huracan</option>
                            <option value="9">Rosario Central</option>
                            <option value="10">Newell's</option>
                            <option value="11">Lanus</option>
                            <option value="12">Argentinos Juniors</option>
                            <option value="13">Banfield</option>
                            <option value="14">Gimnasia (LP)</option>
                            <option value="15">Def y Justicia</option>
                            <option value="16">Tigre</option>
                            <option value="17">Talleres (C)</option>
                            <option value="18">Union</option>
                            <option value="19">Atl Tucuman</option>
                            <option value="20">Instituto</option>
                            <option value="21">Belgrano</option>
                            <option value="22">Ind Rivadavia</option>
                            <option value="23">Riestra</option>
                            <option value="24">Platense</option>
                            <option value="25">Sarmiento (J)</option>
                            <option value="26">Godoy Cruz</option>
                            <option value="27">Barracas Central</option>
                            <option value="28">Central Cba (Sde)</option>
                        </select>
                        <input type="submit" value="Registrarse">
                        <input type="reset" value="Borrar">
                    </fieldset>
                </form>
            </article>
        </main>
        <aside>
            <a href="" class="image1"><img src="../img/spon-betano.png" alt=""></a>
            <a href="" class="image1"><img src="../img/spon-medife.png" alt=""></a>
            <a href="" class="image1"><img src="../img/spon-ypf.png" alt=""></a>
        </aside>
    </div>
        <!--Footer-->
    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#">
                    <img src="../img/argentina (1).png" alt="">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>SOBRE NOSOTROS</h2>
                <p>Potrero Digital</p>
                <p>San Miguel</p>
            </div>
            <div class="box">
                <h2>SIGUENOS</h2>
                <div class="red-social">
                    <a href="#"><img src="../img/facebook.png" alt=""></a>
                    <a href="#"><img src="../img/logotipo-de-instagram.png" alt=""></a>
                    <a href="#"><img src="../img/medios-de-comunicacion-social.png" alt=""></a>
                    <a href="#"><img src="../img/youtube.png" alt=""></a>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2024 <b>Futbol Argentino</b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>
</body>
</html>